<div class="pdf-viewer">
    <button class="btn btn-info" ng-click="previousPage()" ng-disabled="currentPage === 1">Previous Page</button>
    <button class="btn btn-info" ng-click="nextPage()" ng-disabled="currentPage >= pdf.numPages">Next Page</button>

    <div class="frame">
        <canvas class="pdf-canvas"> </canvas>
        <div class="text-layer"> </div>
    </div>
</div>
