#reading {
    #text {

    }


    #theme-tree {
        position: fixed;
        top: 50px;
        right: 5px;

        background: bisque;
        padding: 20px;
        border-radius: 10px;

        overflow: scroll;
        height: 100%;

        .active {
            color: lightblue;
        }
    }

    .frame {
        position: absolute;
    }

    .pdf-canvas {

        .page {
            position: absolute;
        }
    }

    .text-layer {

        div {
            color: transparent;
            position: absolute;
            white-space: pre;
            cursor: text;
        }
    }


}
