<div id="reading">
    <div class="messages alert alert-warning" ng-if="messages.length > 0">
        <ul>
            <li ng-repeat="message in messages">{{message}}</li>
        </ul>
    </div>

    <div id="text" class="col-xs-8">
        <div ng-if="document.type == 'htm' || document.type == 'html'">
            <ng-bind-html ng-bind-html="text"> </ng-bind-html>
        </div>
        <div ng-if="document.type == 'pdf'">
            <el-pdf url="{{document.url}}"> </el-pdf>
        </div>
    </div>

    <div class="theme-container">
        <div id="theme-tree" class="col-xs-4">
            <theme-tree ng-model="assignment.themes" editable="true"
                assignment-id="{{assignment.id}}"
                theme-click="setTheme"
                >
            </theme-tree>
        </div>
    </div>
</div>
