.theme-tree {
    li {
        list-style-type: none;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /*
    li::before.theme {
        content: "\e074";
        font-family: 'Glyphicons Halflings';
        font-size: 9px;
        position: relative;
        margin-right: 10px;
        top: 3px;
        color: #ccc;
    }

    .expandable {
        font-family: 'Glyphicons Halflings';
        font-size: 9px;
        position: relative;
        margin-right: 10px;
        top: 3px;
        cursor: pointer;
    }

    */

    .theme-name {
        font-weight: bold;
    }

    .editing {
        background-color: lightblue;
        padding: 2px;

        input {
            background-color: lightblue;
            border: none;
            width: 100%;
        }

    }

    .passage {
        li::before {
            content: "";
        }
        .passage-text {
            font-style: italic;
            margin-left: 10px;
        }
    }

/*
    .expanded::before {
        content: "\2212";
        font-family: 'Glyphicons Halflings';
        font-size: 9px;
        position: relative;
        margin-right: 10px;
        top: 3px;
        color: #ccc;
    }

    .allow-expand::before {
        content: "\002b";
        font-family: 'Glyphicons Halflings';
        font-size: 9px;
        position: relative;
        margin-right: 10px;
        top: 3px;
        color: #ccc;
    }
    */
}
