<div ng-controller="evidenceLocker.theme_tree.ThemeTreeController" class="theme-tree">
    <ul>
        <ng-include src="'/theme_tree/theme.html'" ng-repeat="theme in rootTheme.children"></ng-include>
        <a ng-if="isEditable" ng-click="addChild(rootTheme, null, $event)">Add a new theme</a>
    </ul>
</div>
