<li class="theme">
    <span ng-click="theme.open = !theme.open; $event.stopPropagation()">
        <span ng-if="theme.open"><i class="glyphicon glyphicon-minus"></i></span>
        <span ng-if="!theme.open && (theme.children && theme.children.length > 0 || theme.passages.length > 0)"></span>
        <span ng-if="!theme.open && (theme.children.length > 0 || theme.passages.length > 0)"><i class="glyphicon glyphicon-plus"></i></span>
    </span>
    <span class="btn-group btn-group-xs" ng-if="theme.owner && theme.owner.id == user.getId()" >
        <span class="btn btn-default" ng-click="promoteTheme(theme, $index)" aria-label="Promote theme {{theme.description}} ">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </span>
        <span class="btn btn-default" ng-click="moveThemeUp(theme, $index, $event)" aria-label="Move theme {{theme.description}} up">
            <i class="glyphicon glyphicon-arrow-up"> </i>
        </span>
        <span class="btn btn-default" ng-click="moveThemeDown(theme, $index, $event)" aria-label="Move theme {{theme.description}} down">
            <i class="glyphicon glyphicon-arrow-down"></i>
        </span>
        <span class="btn btn-default" ng-click="demoteTheme(theme, $index)" aria-label="Make {{theme.description}} the child of its sibling">
            <i class="glyphicon glyphicon-arrow-right"></i>
        </span>
    </span>
    <span class="theme-name" 
        ng-if="!theme.editing" 
        ng-click="handleClick(theme, $event);" 
        focusable 
        ng-class="{'active' : theme == activeTheme }"
    >
        <span ng-if="theme.description.length > 0">{{theme.description}}</span>
        <span ng-if="theme.description.length === 0">{Empty theme}</span>
        <span ng-if="theme.passages.length > 0" class="badge">{{theme.passages.length}}</span>
    </span>
    <span class="theme-name editing" ng-if="theme.editing" focusable>
        <input type="text" ng-model="theme.description" ng-blur="completeEditing(theme)" 
            ng-focus="setOldValue(theme)"
            ng-keyup="themeEditorKeyup(theme, $index, $event)" 
            ng-keydown="keyDown(theme, $index, $event)"
            placeholder="Theme description"
            focusable
        />
    </span>
    <span class="btn-group btn-group-xs" ng-if="theme.owner && theme.owner.id == user.getId()" >
        <span class="btn btn-default" ng-click="editTheme(theme)" ng-if="!theme.editing">
            <i class="glyphicon glyphicon-edit" aria-label="Edit {{theme.description}}"></i>
        </span>
        <span class="btn btn-default" ng-click="cancelEditing(theme)" ng-if="theme.editing">
            <i class="glyphicon glyphicon-remove" aria-label="Cancel editing and discard changes to {{theme.description}}"></i>
        </span>
        <span class="btn btn-default" ng-click="deleteTheme(theme, $index)" aria-label="Delete {{theme.description}} ">
            <i class="glyphicon glyphicon-trash"></i>
        </span>
    </span>


    <ul ng-if="theme.open && theme.passages">
        <li ng-repeat="passage in theme.passages">
            <div class="passage-text" ng-click="clickPassage(passage, $event)">
                {{passage.quote}} ...
                (p. <a href="javascript:void(0)" ng-click="toPage(passage.pageNo)">{{passage.pageNo}}</a>)
            </div>
            <div ng-if="!passage.explication.inProgress">
                <h4 ng-if="passage.explication.text.length > 0">My argument</h4>
                <p ng-dblclick="editPassage(passage.explication)">{{passage.explication.text}}</p>

                <ul>
                    <li ng-repeat="response in passage.explication.responses">
                        <h5 class="student-name">{{response.studentName}}</h5>
                        <p class="response">{{response.text}}</p>
                        <span ng-if="assignment.criteriaType == 'numeric'">
                            <div  ng-repeat="criterion in assignment.criteria">
                                <div class="col-xs-3">
                                    {{criterion.description}}
                                </div>
                                <div class="progress col-xs-9">
                                    <div class="progress-bar" role="progressbar" 
                                         aria-valuemin="{{criterion.min}}" 
                                         aria-valuemax="{{criterion.max}}" 
                                         aria-valuenow="{{response.evaluation[criterion.description]}}"
                                         style="width: {{response.evaluation[criterion.description] / criterion.max * 100}}%"
                                     >
                                 {{response.evaluation[criterion.description]}} / {{criterion.max}}
                                    </div>
                                </div>
                            </div>
                        </span>
                    </li>
                </ul>
            </div>
            <div ng-if="!passage.explication.text && !passage.explication.submitted">
                <span ng-if="!passage.explication.inProgress && canExplicate">
                    <a ng-click="explicate(passage)" ng-if="passage.explication.text.length === 0">Write an explication</a>
                    <a ng-click="explicate(passage)" ng-if="passage.explication.text.length > 0">Edit your explication</a>
                </span>
                <div ng-if="passage.explication.inProgress">
                    <textarea ng-model="passage.explication.text" 
                              cols="10"
                              placeholder="Enter your explication" 
                        class="col-xs-12"> 
                    </textarea>
                    <button class="btn btn-info" ng-click="saveExplication(passage.explication)">Save</button>
                    <button class="btn btn-success" ng-click="submit(passage.explication)">Submit for review</button>
                </div>
            </div>
        </li>
    </ul>
        
    <ul class="theme-child">
        <ng-include src="'/theme_tree/theme.html'" ng-repeat="theme in theme.children"></ng-include>
        <!--
        <li ng-if="isEditable && theme.description !== ''" ng-click="addChild(theme, null, $event)">
            <i class="glyphicon glyphicon-plus"></i>Add a child of "{{theme.description}}"
        </li>
        -->
        <button ng-if="isEditable && theme.description !== ''" ng-click="addChild(theme, null, $event)" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i>Add a child of "{{theme.description}}"
        </button>
    </ul>
</li>
