<div ng-if="complete" class="container">
    <h1>All your peer reviews are complete!</h1>
</div>
<div ng-if="noPeerReviews && !complete" class="container">
    <h1>Sorry, no peer reviews are available for you right now.</h1>
    <h1>Please check again later.</h1>
</div>
<div class="container" ng-if="!noPeerReviews && !complete">
    <div class="row">
        <h1>Theme</h1>
        {{passage.theme.description}}
    </div>
    <div class="row">
        <h1>Passage</h1>
        {{passage.quote}}
    </div>
    <div class="row">
        <h1>Explication</h1>
        {{passage.explication.text}}
    </div>
    <div class="row">
        <h1>My response</h1>
        <div ng-repeat="criterion in passage.responses">
            <div>
            <h3>
                {{criterion.rubricText}}
            </h3>
            <span  ng-if="passage.criteriaType == 'numeric' || passage.criteriaType == 'both'">
                <slider ng-model="criterion.score"
                        floor="{{criterion.rubricMin}}"
                        ceiling="{{criterion.rubricMax}}"
                        step="1"
                        >
                </slider>
            </span>
            </div>
            <span class="textual-grading" ng-if="passage.criteriaType == 'textual' || passage.criteriaType == 'both'">
                <textarea rows="5" cols="80" ng-model="criterion.text"></textarea>
            </span>
        </div>
    </div>


    <div class="row">
        <button class="btn btn-info" ng-click="save(passage)">Save</button>
    </div>

</div>
