<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Shared Secret</th>
            <th>LMS Type</th>
            <th>Created on</th>
            <th>Commands</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="toolConsumer in toolConsumers"
            ng-class="{'bg-muted': toolConsumer.isActive, 'bg-info': !toolConsumer.isActive}"
        >
            <td>
                <span ng-if="!toolConsumer.editing">
                    <a href="#/tool_consumers/{{toolConsumer.id}}">
                        https://{{toolConsumer.url}}
                    </a>
                </span>
                <span ng-if="toolConsumer.editing">
                    https://<input type="text" ng-model="toolConsumer.url" placeholder="URL" />
                </span>
            </td>
            <td>
                <div class="row">
                    {{toolConsumer.sharedSecret}}
                </div>
                <div class="row">
                    <a href="javascript:void(0)" ng-click="generateSharedSecret(toolConsumer)">
                        Generate a new shared secret
                    </a>
                </div>
            </td>
            <td>
                <span ng-if="!toolConsumer.editing">
                    {{toolConsumer.lmsType}}
                </span>
                <span ng-if="toolConsumer.editing">
                    <select ng-model="toolConsumer.lmsType" class="form-control">
                        <option value="moodle">Moodle</option>
                        <option value="canvas">Canvas</option>
                        <option value="unknown">Unknown</option>
                    </select>
                </span>
            </td>
            <td>{{toolConsumer.createdAt}}</td>
            <td>
                <span ng-if="toolConsumer.isActive">
                    <button ng-click="setEnabled(toolConsumer, false)" class="btn btn-danger">Disable</button>
                </span>
                <span ng-if="!toolConsumer.isActive">
                    <button ng-click="setEnabled(toolConsumer, true)" class="btn btn-success">Enable</button>
                </span>

                <span ng-if="toolConsumer.editing">
                    <button ng-click="save(toolConsumer)" class="btn btn-success">Save</button>
                </span>

                <span ng-if="!toolConsumer.editing">
                    <button ng-click="edit(toolConsumer)" class="btn btn-default">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                    <a href="javascript:void(0)" ng-click="showMessageCommand(toolConsumer)">
                        Message users
                    </a>
                </span>

            </td>
    </tr>
        <tr>
            <td colspan="5">
                <button ng-click="addNew()" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add new Tool Consumer ...
                </button>
            </td>
        </tr>
    </tbody>
</table>
