<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>Remote ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Tool Consumer</th>
                <th>Last Login</th>
                <th>Commands</th>
            </tr>
        </thead>

        <tfoot>
        <tr>
            <button ng-click="addNew()" class="btn btn-danger">
                <i class="glyphicon glyphicon-plus"></i>
                Add new (admin) user ...
            </button>
        </tr>
        </tfoot>

        <tbody>
            <tr ng-repeat="user in users"
                ng-class="{'bg-muted' : user.isAdmin, 'bg-info' : !user.isAdmin}"
           >
                <td>
                    {{user.remoteId}}
                </td>
                <td>
                    <span ng-if="!user.editing">
                        {{user.name}}
                    </span>
                    <span ng-if="user.editing">
                        <input type="text" ng-model="user.name" placeholder="User name" />
                    </span>
                </td>
                <td>
                    <span ng-if="!user.editing">
                        {{user.email}}
                    </span>
                    <span ng-if="user.editing">
                        <input type="text" ng-model="user.email" placeholder="email" />
                    </span>
                </td>
                <td>
                    {{user.createdAt}}
                </td>
                <td>
                    {{user.toolConsumerId}}
                </td>
                <td>
                    {{user.lastLogin}}
                </td>
                <td>
                    <button ng-click="edit(user)" ng-if="!user.editing" class="btn btn-success">Edit</button>
                    <button ng-click="save(user)" ng-if="user.editing" class="btn btn-success">Save</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>