<div ng-controller="evidenceLocker.assignment_editor.AssignmentEditorController">
    <form class="form" ng-model="assigment">
        <h1>{{assignment.title}}</h1>
        <p>{{assignment.description}}</p>
        <!--
            <label>Assignment Title</label>
            <input type="text" class="form-control" placeholder="Assignment Title" ng-model="assignment.title"></input>
            <label>Assignment Description</label>
            <textarea class="form-control" placeholder="Assignment Description" ng-model="assignment.description"></textarea>
        -->

        <div class="file-upload row col-xs-12">
            <div ngf-drop="setFile(assignment, $files)" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="false">
                <div ng-if="!assignment.file && !assignment.filename">
                    Drop your file here

                    <p>Accepted file types:<p>
                    <ul>
                        <li>HTML (.htm, .html)</li>
                        <li>Plain text (.txt)</li>
                    </ul>
                </div>
                <div class="file-list" ng-if="assignment.file || assignment.filename">
                    <span class="glyphicon glyphicon-file"> </span>
                    <p>{{assignment.filename}}</p>
                </div>
            </div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        </div>

        <div class="container-fluid">
            <div class="col-sm-12" id="theme-list">
                <h1>Themes</h1>
                <theme-tree ng-model="assignment.themes" editable="true">
                </theme-tree>
            </div>
            <div class="col-sm-12" id="grading">
                <h2>Grading</h2>
                <div class="checkbox-inline">
                    <label class="">
                        <input type="checkbox"  ng-model="assignment.peerReviewEnabled" />
                        Peer Review enabled
                    </label>
                </div>
                <div ng-if="assignment.peerReviewEnabled">
                    <div class="input-group">
                        <div class="form-group">
                            <div class="radio">
                                <label><input type="radio" ng-model="assignment.grading" value="numeric" />Numeric</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" ng-model="assignment.grading" value="textual" />Textual Commentary</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" ng-model="assignment.grading" value="both" />Both Numeric and Textual Commentary</label>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <label>Number of reviews required
                        <input type="text" class="form-control" ng-model="assignment.numberRequired" placeholder="Number of reviews required">
                        </label>
                    </div>
                    <div class="input-group">
                        <table class="table table-hover">
                            <thead>
                                <th>Peer Review Criteria</th>
                                <th ng-if="assignment.grading == 'numeric' || assignment.grading == 'both'">Minimum</th>
                                <th ng-if="assignment.grading == 'numeric' || assignment.grading == 'both'">Maximum</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="criterion in assignment.criteria" ng-class="{'bg-danger': criterion.status != 'OK'}">
                                    <td class="col-lg-8">
                                        <input type="text" ng-keyup="handleKeyUp(criterion, $index, $event)" ng-model="criterion.title" placeholder="Description" />
                                        <span class="message">{{criterion.message}}</span>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="criterion.min" ng-keyup="handleKeyUp(criterion, $index, $event)" placeholder="Minimum" ng-if="assignment.grading == 'numeric' || assignment.grading == 'both'" />
                                    </td>
                                    <td>
                                        <input type="text" ng-model="criterion.max" ng-keyup="handleKeyUp(criterion, $index, $event)" placeholder="Maximum" ng-if="assignment.grading == 'numeric' || assignment.grading == 'both'" />
                                    </td>
                                    <td>
                                        <button ng-click="deleteCriterion(criterion, $index)" class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button ng-click="addCriterion()" class="btn btn-info">Add new criterion</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <button class="btn btn-primary" ng-click="save(assignment)">Save</button>

</div>
