<div class="container">

    <h1>{{user.getName()}}</h1>
    <p>{{user.email}}</p>

    <h2>Change password</h2>
    <form class="form">
        <label for="password1">Enter password:</label>
        <input type="password" ng-model="password1" placeholder="Password" id="password1" class="form-control" />
        <label for="password2">Confirm password:</label>
        <input type="password" ng-model="password2" placeholder="Password" id="password2" class="form-control" />

        <button ng-click="changePassword(user)" class="btn btn-success">Change password</button>
    </form>

</div>