<button ng-click="addToolConsumer">Register New Tool Consumer</button>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Shared Secret</th>
            <th>Controls</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="toolConsumer in toolConsumers">
            <td><a href="#tool_consumers/{{toolConsumer.id}}">{{toolConsumer.name}}</a></td>
            <td>{{toolConsumer.sharedSecret}}</td>
            <td><a href="javascript:void(0)" ng-click="delete(toolConsumer)">Delete</a></td>
        </tr>
    </tbody>
</table>
