<div class="tool-consumer-data">
    <div class="show" ng-if="!editing">
        <h1>{{toolConsumer.name}}</h1>
        <h2>Shared Secret: {{toolConsumer.sharedSecret}}</h2>
        <h2>Type: {{toolConsumer.type}}}</h2>
        <button class="btn btn-default" ng-click="edit(true)">Edit</button>
    </div>
    <div class="editing" ng-if="editing">
        <h1>
            <input type="text" ng-model="toolConsumer.name" placeholder="Tool Consumer Name" />
        </h1>
        <input type="text" ng-model="toolConsumer.url" placeholder="Tool Consumer URL" />
        <select ng-model="toolConsumer.type">
            <option value="moodle">Moodle</option>
            <option value="Unknown">Unknown type</option>
        </select>
        <div class="warning" ng-if="toolConsumer.type == 'Unknown'">
            <p>WARNING: If you set the Tool Consumer's type as "Unknown," certain features will not be enabled! Currently, this includes:<p>
            <dl>
                <dt>Automatically updating course enrollments.<dt> 
                <dd>An instructor may not always have an accurate count of students who have completed the assignment.</dd>
            </dl>
        </div>
        <button class="btn btn-success" ng-click="save(toolConsumer)">Save</button>
    </div>
</div>

<div class="context-list">
    <div class="context" ng-repeat="context in toolConsumer.contexts">
        <div class="title">{{context.title}}</div>
        <div class="context-controls">
            <a href="delete(context)">Delete</a>
        </div>
        <div class="instructor-list">
            <div class="user instructor" ng-repeat="instructor in context.instructors">
                <p>{{instructor.name}}</p>
            </div>
        </div>
        <div class="learner-list">
            <div class="user learner" ng-repeat="learner in context.learners">
            </div>
        </div>
    </div>
</div>

<div class="master-user-list">
</div>
