<h1>{{assignment.title}}</h1>

<div class="description">
    {{assignment.description}}
</div>

<div ng-if="assignment.document" class="row">
    <div class="pull-right">
        <a href="#!/reading" class="thumbnail">
            <div class="document-icon">
                <i class="glyphicon glyphicon-book"></i>
            </div>
            <div>
                {{assignment.document.filename}}
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h1>Themes</h1>
        <theme-tree ng-model="assignment.themes"></theme-tree>
    </div>
    <div class="col-sm-6">
        <h1>Peer Review Rubric</h1>
        <p>Type: {{assignment.rubricType}} </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Criteria</th>
                    <th ng-if="assignment.rubricType == 'numeric' || assignment.rubricType == 'both'">Minimum</th>
                    <th ng-if="assignment.rubricType == 'numeric' || assignment.rubricType == 'both'">Maximum</th>
                </tr>
            </thead>
            <tr ng-repeat="criterion in assignment.criteria">
                <td>{{criterion.title}}</td>
                <td ng-if="assignment.rubricType == 'numeric' || assignment.rubricType == 'both'">{{criterion.min}}</td>
                <td ng-if="assignment.rubricType == 'numeric' || assignment.rubricType == 'both'">{{criterion.max}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <button class="btn btn-info pull-right" ng-click="editAssignment(assignment)">Edit</button>
</div>

<div class="row">

    <div class="col-md-12">
        {{assignment.explicationsCompleted}} of {{assignment.totalStudents}} have completed their explications

        <div class="progress">
            <div class="progress-bar" role="progressbar"
                 aria-valuemin="0"
                 aria-valuemax="0"
                 aria-valuenow="{{assignment.explicationsCompleted}}"
                 style="width: {{assignment.explications.complete.length / assignment.totalStudents * 100}}%"
             >
            </div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="student-name"
                 ng-class="{'completed' : 'explications.explicationCount == assignment.numberRequired', 'incomplete' : 'explications.explicationCount < assignment.numberRequired'}"
                 ng-repeat="explications in assignment.status.explications">
                <a href="#!/student/{{explications.student.id}}">
                    {{explications.student.name}}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">

        {{assignment.peerReviewsCompleted}} of {{assignment.totalStudents}} have completed their peer reviews

        <div class="progress">
            <div class="progress-bar" role="progressbar"
                 aria-valuemin="0"
                 aria-valuemax="0"
                 aria-valuenow="{{assignment.peerReviewsCompleted}}"
                 style="width: {{assignment.peerReview.complete.length / assignment.totalStudents * 100}}%"
             >
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="student-name"
                 ng-class="{'completed' : 'peerReviews.peerReviewsCompleted == assignment.numberRequired', 'incomplete' : 'peerReviews.peerReviewsCompleted < assignment.numberRequired'}"
                 ng-repeat="peerReviews in assignment.status.peerReviews">
                <a href="#!/student/{{peerReviews.student.id}}">
                    {{peerReviews.student.name}}
                </a>
            </div>
        </div>
    </div>
</div>


