<div>
    <div class="explication-list">
        <h1>Explications by {{student.name}}</h1>
        <span><span class="completion-count">{{explications.length}}</span> of {{assignment.numberRequired}} complete</span>
        <div ng-repeat="explication in explications" class="explication">
            <h1>Theme</h1>
            {{explication.theme.description}}
            <blockquote class="annotation-quote">
                <div ng-repeat="para in explication.annotation.quoteParas">{{para}}</div>
            </blockquote>
            <div class="explication-text">
                <h3>Explication:</h3>
                <p>{{explication.text}}</p>
            </div>
            <div ng-if="assignment.criteriaType == 'numeric' || assignment.criteriaType == 'both'">
                <table class="table review-score-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th ng-repeat="criterion in assignment.criteria">
                                {{criterion.title}}
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="review-maximums">
                            <td>Maximum</td>
                            <td ng-repeat="criterion in assignment.criteria" class="numeric-cell">
                                {{criterion.max}}
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="review in explication.reviews">
                            <td class="reviewer-name">{{review.reviewer.name}}</td>
                            <td ng-repeat="promptResponse in review.responses"
                                class="numeric-cell review-score-{{Math.floor(promptResponse.score / promptResponse.rubricMax * 5) - 0}}"
                                >
                                {{promptResponse.score}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="assignment.criteriaType == 'textual' || assignment.criteriaType == 'both'">
                <div ng-repeat="review in explication.reviews" class="explication-review">
                    <h4 class="reviewer-name">Review by {{review.reviewer.name}}</h4>
                    <div ng-if="assignment.criteriaType == 'textual' || assignment.criteriaType == 'both'">
                        <div ng-repeat="promptResponse in review.responses">
                            <h3>{{promptResponse.rubricText}}</h3>
                            <div class="response-text">
                                {{promptResponse.text}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="reviews">
        <h1>Peer Reviews by {{student.name}}</h1>
        <span class="completion-count">{{reviews.length}} of {{assignment.numberRequired}} complete</span>
        <div ng-repeat="review in reviews" class="review">
            <!--
            <h2>Review of {{review.explication.annotation.ownerRef}}</h2>
            -->
            <h2>Theme: {{review.theme.description}} </h2>
            <blockquote>{{review.explication.annotation.quote}}</blockquote>
            <p>{{review.explication.text}}</p>

            <div ng-if="assignment.criteriaType == 'textual' || assignment.criteriaType == 'both'">
                <div ng-repeat="promptResponse in review.review.responses" class="response">
                    <h3>{{promptResponse.rubricText}}</h3>
                    <div class="response-text">
                        {{promptResponse.text}}
                    </div>
                </div>
            </div>
            <div ng-if="assignment.criteriaType == 'numeric' || assignment.criteriaType == 'both'">
                <table class="table review-score-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Max</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="promptResponse in review.review.responses">
                            <td>{{promptResponse.rubricText}}</td>
                            <td
                                class="numeric-cell review-score-{{Math.floor(promptResponse.score / promptResponse.rubricMax * 5) - 0}}"
                                >
                                {{promptResponse.score}}
                            </td>
                            <td class="numeric-cell">{{promptResponse.rubricMax}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
