<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Evidence Locker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href='@routes.Assets.at("styles/vendor.8dcc43d4.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("styles/main.4215a9eb.css")'>
</head>
<body ng-app="evidenceLocker"> <!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]--> <!-- Add your site or application content here -->
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#js-navbar-collapse"><span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <div class="navbar-brand" ng-controller="evidenceLocker.authentication.AuthenticationController">
                    {{student.name}}
                </div>
            </div>
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div ng-view></div>
</div>
<div class="footer">
    <div class="container"><p>Evidence Locker, by CDH</p></div>
</div> <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>!function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
   }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
</script>
<script src='@routes.Assets.at("javascripts/instructor.entry.js")'></script>
</body>
</html>
